@font-face {
    font-family: OpenSans;
    src: url('Fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('Fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('Fonts/Poppins-Bold.ttf');
}

html , body {
    margin: 0px;
    padding: 0px;
    font-family: OpenSans;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 15px;
}
  
body::-webkit-scrollbar-track {
    background: #fff; 
}
   
body::-webkit-scrollbar-thumb {
    background: gainsboro; 
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
}
 
nav.scrolled {
    transition: 0.5s;
    padding: 0px 40px;
    background-color: white;
    border-bottom: 1px solid lavender;
}

nav.scrolled .toggle a {
    color: black;
}

.toggle a {
    padding: 14px;
    color: #fff;
    display: flex;
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    background-color: transparent;
}

#currentPage {
    border-bottom: 2px solid white;
}

nav.scrolled #currentPage {
    color: royalblue;
    border-bottom: 2px solid royalblue;
}

.toggle a:focus {
    outline: none;
}

.toggle a:hover {
    border-bottom: 2px solid white;
}

nav.scrolled .toggle a:hover {
    border-bottom: 2px solid black;
}

#strip:focus {
    outline: none;
}

.slider {
    height: 500px;
    position: relative;
}

.slider .imgBox {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lavender;
    background-image: url("Images/contactus.jpg");
}

.slider .imgBox .content h1 {
    width: 400px;
    padding: 20px;
    font-size: 2.2em;
    margin-top: 45px;
    position: relative;
    text-align: center;
    color: royalblue;
    font-family: PoppinsBold;
    background-color: ghostwhite;
}

#heading {
    font-size: 30px;
    text-align: center;
    color: royalblue;
    font-family: PoppinsBold;
}

#heading span {
    color: black;
}

#underline {
    width: 50px;
    border: 2px solid royalblue;
}

#services {
    padding: 70px;
    margin-bottom: 70px;
    background-color: ghostwhite;
}

#services div {
    display: grid;
}

#services i {
    font-size: 30px;
    color: royalblue;
    letter-spacing: 20px;
}

#service div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#service p {
    font-size: 15px;
    min-height: 50px;
    margin-top: 30px;
    text-align: center;
    font-family: Poppins;
}

#direction {
    margin-bottom: 70px;
}

#direction div {
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

#map {
    width: 100%;
    height: 450px;
    border-top: 5px solid lavender;
    border-bottom: 5px solid lavender;
}

#dirBtn {
    border: none;
    width: 280px;
    padding: 10px;
    color: #fff;
    font-size: 18x;
    transition: 0.3s;
    margin: 20px 0px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    background-color: royalblue;
}

#dirBtn:hover {
    transition: 0.3s;
    background-color: rgb(42, 75, 175);
}

#communicate {
    margin-top: 90px;
}

#card1, #card2 {
    margin-top: 20px;
    max-width: 550px;
    min-height: 450px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px lightgray;
}

#card2 {
    max-height: 570px;
}

#card-heading {
    padding: 0px;
}

#card-heading h2, #card-heading h2 {
    height: 60px;
    display: flex;
    color: white;
    font-size: 23px;
    align-items: center;
    font-family: Poppins;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, #333,royalblue , #333);
}

#content {
    padding: 40px;
}

#content i {
    display: flex;
    margin: 0 auto;
    font-size: 30px;
    width: fit-content;
    color: royalblue;
    margin-bottom: 20px;
    justify-content: center;
}

#content i:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: rotateY(360deg);
}

#content p {
    color: black;
    font-size: 14px;
    text-align: center;
    font-family: Poppins;
}

#content a {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    justify-content: center;
}

#card3 div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timings i {
    font-size: 55px;
    margin-bottom: 30px;
}

.day h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: Poppins;    
}

.time h5 {
    font-size: 15px;
    font-family: Poppins;
}

.day hr , .time hr {
    border: 1px solid royalblue;
}

#content hr {
    width: 70%;
    border-color: lightgray;
}

#message {
    margin-top: 80px;
}

#reviews {
    padding: 30px;
    min-width: 100%;
    margin-top: 15px;
    margin-bottom: 100px;
    background-color: royalblue;
}

#person {
    padding: 0px;
    max-width: 300px;
    max-height: 350px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 5px #333;
}

#user {
    padding: 15px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to right, black, royalblue);
}

#user p {
    top: 3px;
    color: white;
    display: inline;
    font-size: 17px;
    margin-left: 5px;
    position: relative;
    font-family: Poppins;
}

#user span {
    float: right;
    color: white;
    font-size: 10px;
    margin-top: 25px;
    font-family: Poppins;
}

#review span {
    font-size: 12px;
    margin-left: 3px;
    color: darkgray;
    font-family: Poppins;
    text-decoration: underline;
}

#review {
    padding: 30px;
    display: block;
    font-size: 15px;
    min-height: 190px;
    padding-bottom: 0px;
    font-family: Poppins;
}

#review i {
    color: gold;
    font-size: 17px;
    margin-bottom: 20px;
}

#likes {
    padding: 30px;
}

#likes i {
    font-size: 20px;
    color: royalblue;
}

#likes p {
    bottom: 2px;
    color: gray;
    display: inline; 
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-right: 15px;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#links a {
    display: flex;
    color: white;
    min-width: 100%;
    font-size: 15px;
    margin-right: 20px;
    align-items: center;
    font-family: Poppins;
    justify-content: center;
}

#info {
    border: 0;
    margin-top: 10px;
    padding: 10px 180px 50px;
    background-color: ghostwhite;
}

#comment-icon {
    display: flex; 
    font-size: 130px;
    color: royalblue;
    margin-bottom: 25px;
    justify-content: center;
}

#input1, #input2, #subject {
    width: 95%;
    padding: 8px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: Poppins;
    background-color: white;
    border: 1px solid lightgray;
}

#comments, #subject {
    resize: none;
    padding: 7px;
    margin-top: 20px;
    min-width: 97.5%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;

}

#input1:focus, #input2:focus, #subject:focus, #comments:focus {
    outline: none;
    border: 1px solid darkgray;
}

.sendCmnt {
    border: 0px;
    padding: 12px;
    font-size: 18px;
    margin-top: 10px;
    min-width: 97.5%;
    font-family: Poppins;
    background-color: royalblue;
}

.customerBg_img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("Images/clippedimage5.jpg");
}

.customerDesc {
    padding: 50px;
    color: white;
    text-align: center;
}

.customerDesc h2 {
    color: white;
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
    font-family: PoppinsBold;
}

.customerDesc p {
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: Poppins;
}

.customerBg_decorator{
    width:100%
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

#foot {
    min-width: 300px;
    margin-top: 30px;
    min-height: 200px;
}

#footer h5 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins;
}

#foot p {
    font-size: 14px;
    line-height: 27px;
    color: slategray;
}

#footer a {
    padding: 10px;
    font-size: 28px;
    border-radius: 5px;
    color: slategray;
    background-color: lightgrey;
}

#footer a:hover {
    color: lightgrey;
    background-color: slategray;
}

#dummy {
    padding: 7px;
    width: 250px;
    font-size: 15px;
    margin-bottom: 10px;
}

#send {
    width: 80px;
    border: none;
    padding: 6px;
    color: white;
    background-color: slategray;
}

#copyright {
    display: flex;
    background: linear-gradient(to right, royalblue, dodgerblue);
}

#copyright p {
    color: white;
    font-size: 14px;
    margin-top: 14px;
}

#myBtn {
    width: 45px;
    right: 30px;
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    border: none;
    padding: 10px;
    outline: none;
    display: none;
    color: white;
    cursor: pointer;
    position: fixed;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}
  
#myBtn:hover {
    background-color: #555;
}

@media only screen and (max-width: 1030px){
    #footer {
        padding-bottom: 0px !important; 
    }
}

@media only screen and (max-width: 992px) {
    .header, nav.scrolled {
        padding-left: 0px;
    }
    .logo {
        height: 70px;
    }
    .toggle a {
        width: 100%;
        color: black;
        background-color: white;
        border-bottom: 2px solid white;
    }
    nav.scrolled .toggle a {
        color: black;
    }
    #currentPage {
        color: royalblue;
        border-bottom: 2px solid royalblue;
    }
    .slider .imgBox .content h1 {
        width: 100%;
        font-size: 1.7em;
    }
    #heading, #heading span {
        font-size: 25px;
    }
    #foot {
        max-width: 300px;
    }
    #footer {
        padding-bottom: 60px !important;
    }
}

@media only screen and (max-width: 770px){
    #strip {
        background-color: whitesmoke;
    }
    #communicate {
        margin-top: 65px;
    }
    nav.scrolled #strip {
        background-color: transparent;
    }
    #card1, #card2 {
        margin-top: 5px;
        margin-bottom: 40px;
    }
    #reviews {
        margin-bottom: 80px;
    }
    #info {
        padding: 20px 50px 35px;
    }
    #input1, #input2, #subject, #comments, .sendCmnt {
        width: 100%;
    }
    .sendCmnt { 
        padding: 8px;
    }
    #message {
        margin-top: 40px;
    }
    #footer {
        padding-bottom: 60px !important;
    }
}

@media only screen and (max-width: 695px) {
    #services {
        margin-bottom: 55px;
    }
    #dirBtn {
        width: 230px;
    }
    #direction {
        margin-bottom: 60px;
    }
    .customerDesc h2 {
        font-size: 30px;
    }
    .customerDesc p {
        font-size: 18px;
    }
    #footer {
        padding-bottom: 0px !important; 
    }
}

@media only screen and (max-width: 330px) {
    body {
        zoom: 85%;
    }
    .slider .imgBox .content {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 250px) {
    body {
        zoom: 30%;
    }
}

@media only screen and (max-width: 95px) {
    body {
        zoom: 15%;
    }
}